<h1>Welcome to Affordable Bikeshares</h1>
<h3>Please choose a station to see the availability of the bikes.</h3>


<ul>
  <% @stations.each do |station| %>
    <li>
      <a href="/stations/<%= station.id %>">
        <%= station.station_name %>
      </a>
    </li>
  <% end %>
</ul>
