  <h3> Name of Station: <%= @station.station_name %></h3>
  <h3> Address: <%= @station.location %></h3>
  <h3><img src="<%= @station.photo_url %>"></h3>


  <h1><a href="/stations/<%= @station.id %>/bikes">See bikes</a></h1>
