<h1>Select one of the following bikes</h1>
<ul>
  <% @bikes.each do |i| %>
    <li><%= i.bike_type%></li>
        <%= i.model %>
        <%= link_to 'Select this bike', userbikes_path %>
        <%= link_to 'Delete!', station_bikes_path(@station, @bike), method: :delete, class: 'delete' %>
  <% end %>
</ul>
