<h1>Select one of the following bikes</h1>
<ul>
  <% @bikes.each do |i| %>
    <li><%= i.bike_type%></li>
        <%= i.model %>
        <a href="/userbikes/<%= i.id %>/checkout">Select this bike</a>
  <% end %>
</ul>
